@import "tailwindcss";

@theme {
  --color-primary: #f20d0d;
  --color-background-light: #f8f5f5;
  --color-background-dark: #221010;
  --font-display: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-gray-800 dark:text-gray-200;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
